/* Go back! Nothing special to look here. Credits goes to w3school. */
.popup-card {
    width: 372.7px;
    height: 437.3px;
    margin: 55px 0 0 -300px;
    padding: 31px 1.5px 16.3px 13.7px;
    box-shadow: -2px 3px 21px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    position: absolute;
    z-index: 999;
}