<!-- Card grid -->
<div class="wrapper">
    <app-card *ngFor="let item of filter(items, take, skip)" [title]="item.title" [location]="item.location"
        [currentInvestedAmount]="item.currentInvestedAmount" [targetInvestmentAmount]="item.targetInvestmentAmount"
        [description]="item.description" [startDate]="item.startDate" [endDate]="item.endDate">
    </app-card>
</div>

<!-- Pagination button -->
<div class="center">
    <div class="pagination">
        <a class="pagination-box" (click)="gotoPrev()"><img src="assets/img/right-arrow.svg" alt=""></a>
        <a class="pagination-box" [ngClass]="{'active': currentPage === i}" *ngFor="let i of pages" (click)="goto(i)">{{i}}</a>
        <a class="pagination-box" (click)="gotoNext()"><img src="assets/img/right-arrow.svg" class="rotateimg180"  alt=""></a>
    </div>
</div>