/* Go back! Nothing special to look here. Credits goes to w3school. */

.wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 20px;
    align-content: center;
}

.center {
    text-align: center;
  }

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
  }

.pagination-box {
    width: 25px;
    height: 25px;
    margin: 0 9px 0 0;
    padding: 20px 19px 19.1px 18.3px;
    border-radius: 10px;
    background-color: #f1f4f6;
}

.rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }